@model grupo_rojo_repository.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img class="img-responsive" width="96" height="150" src="@Model.ImageURL" alt="Imagen del Producto" />
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nombre: @Model.Articulo</h5>
                    <p>Lote: @Model.Lote</p>
                    <p>Composici칩n: @Model.Composici칩n</p>
                    <p>Ancho: @Model.Ancho</p>
                    <p>Gramaje: @Model.Gramaje</p>
                    <p>Dise침os: @Model.Dise침os</p>
                    <p>Cantidad Total: @Model.CantidadTotal</p>
                    <p>Colores: @Model.Colores</p>
                    <p>Precio: @Model.Precio</p>
                    <a class="btn btn-primary" asp-action="Add" asp-route-id="@Model.Id">Agregar al Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
