@model grupo_rojo_repository.Models.Contacto

@using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.category)
        @Html.TextBoxFor(model => model.category, new { @class = "form-control", placeholder = "Asunto" })
        @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mensaje)
        @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control", rows = 5, placeholder = "Mensaje" })
        @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
}
